preferences lookup

newsletter
e9f41629-b336-49bd-b25f-39d35a09e9bf
1e511703-8ea1-45f3-b743-0cb8da712b34

events
b596fcee-1d1b-4c08-bfa0-dfe7ed98653f
44d6c38b-a47d-4278-b400-420af5a40483

volunteer
cbed7c2e-5b4a-4601-a495-70f106cc0839
54896335-6409-41cb-8075-3d1d2d3efa15

child_sponsorship
fb101391-5d54-4def-902e-2fae26240154
dda1e0a8-42b2-43c3-8035-1f435bad7f9f

exclusive
986629c4-dfdf-44ce-b74d-0873aeff4a92
f02e668b-58b0-4b42-bb17-d82d8a957690

all_communications


<!-- form -->


<div>
  <form method="post" name="Preference-Center" action="https://s372364492.t.eloqua.com/e/f2" onsubmit="setTimeout(function(){if(document.querySelector){var s=document.querySelector('form#form30 input[type=submit]');if(s){s.disabled=true;}}},100);return true;" id="form30" class="elq-form" >
    <input value="Preference-Center" type="hidden" name="elqFormName"  />
    <input value="372364492" type="hidden" name="elqSiteId"  />
    <input name="elqCampaignId" type="hidden"  />
    <div id="formElement0" class="sc-view form-design-field sc-static-layout item-padding sc-regular-size" >
      <div class="field-wrapper" >
      </div>
      <div class="individual field-wrapper" >
        <div class="_100 field-style" >
          <p class="field-p" >
            <label for="field0" class="label-position top " >
              Email Address
            </label>
            <input id="field0" name="emailAddress" type="text" value="<eloqua type='emailfield' syntax='EmailAddress' />
" class="field-size-top-large"  />
          </p>
        </div>
      </div>
    </div>
    <div id="formElement1" class="sc-view form-design-field sc-static-layout item-padding sc-regular-size" >
      <div class="field-wrapper" >
      </div>
      <div class="individual field-wrapper" >
        <div class="_100 field-style" >
          <p class="field-p" >
            <label for="field1" class="label-position top " >
              First Name
            </label>
            <input id="field1" name="firstName" type="text" value="<eloqua type='emailfield' syntax='FirstName' />
" class="field-size-top-large"  />
          </p>
        </div>
      </div>
    </div>
    <div id="formElement2" class="sc-view form-design-field sc-static-layout item-padding sc-regular-size" >
      <div class="field-wrapper" >
      </div>
      <div class="individual field-wrapper" >
        <div class="_100 field-style" >
          <p class="field-p" >
            <label for="field2" class="label-position top " >
              Birthday
            </label>
            <input id="field2" name="birthday" type="text" value="<eloqua type='emailfield' syntax='Birthday1' />
" class="field-size-top-large"  />
          </p>
        </div>
      </div>
    </div>
    <div id="formElement3" class="sc-view form-design-field sc-static-layout item-padding sc-regular-size" >
      <div class="field-wrapper" >
      </div>
      <div class="individual field-wrapper" >
        <div class="_100 field-style" >
          <p class="field-p" >
            <label for="field3" class="label-position top " >
              Zip or Postal Code
            </label>
            <input id="field3" name="zipPostal" type="text" value="<eloqua type='emailfield' syntax='Zip_Postal' />
" class="field-size-top-large"  />
          </p>
        </div>
      </div>
    </div>
    <div id="formElement4" class="sc-view form-design-field sc-static-layout item-padding sc-regular-size" >
      <div class="field-wrapper" >
      </div>
      <div class="individual field-wrapper" >
        <div class="_100 field-style" >
          <p class="field-p" >
            <label for="field4" class="label-position top " >
              Country
            </label>
            <select id="field4" name="country" class="field-size-top-large" >
              <option value="" >
                Please select
              </option>
              <option value="US" >
                United States
              </option>
              <option value="GB" >
                United Kingdom
              </option>
              <option value="CA" >
                Canada
              </option>
              <option value="IN" >
                India
              </option>
              <option value="NL" >
                Netherlands
              </option>
              <option value="AU" >
                Australia
              </option>
              <option value="ZA" >
                South Africa
              </option>
              <option value="FR" >
                France
              </option>
              <option value="DE" >
                Germany
              </option>
              <option value="SG" >
                Singapore
              </option>
              <option value="SE" >
                Sweden
              </option>
              <option value="BR" >
                Brazil
              </option>
              <option value="" >
                --------------
              </option>
              <option value="AF" >
                Afghanistan
              </option>
              <option value="AX" >
                Åland Islands
              </option>
              <option value="AL" >
                Albania
              </option>
              <option value="DZ" >
                Algeria
              </option>
              <option value="AS" >
                American Samoa
              </option>
              <option value="AD" >
                Andorra
              </option>
              <option value="AO" >
                Angola
              </option>
              <option value="AI" >
                Anguilla
              </option>
              <option value="AQ" >
                Antarctica
              </option>
              <option value="AG" >
                Antigua and Barbuda
              </option>
              <option value="AR" >
                Argentina
              </option>
              <option value="AM" >
                Armenia
              </option>
              <option value="AW" >
                Aruba
              </option>
              <option value="AU" >
                Australia
              </option>
              <option value="AT" >
                Austria
              </option>
              <option value="AZ" >
                Azerbaijan
              </option>
              <option value="BS" >
                Bahamas
              </option>
              <option value="BH" >
                Bahrain
              </option>
              <option value="BD" >
                Bangladesh
              </option>
              <option value="BB" >
                Barbados
              </option>
              <option value="BY" >
                Belarus
              </option>
              <option value="BE" >
                Belgium
              </option>
              <option value="BZ" >
                Belize
              </option>
              <option value="BJ" >
                Benin
              </option>
              <option value="BM" >
                Bermuda
              </option>
              <option value="BT" >
                Bhutan
              </option>
              <option value="BO" >
                Bolivia
              </option>
              <option value="BA" >
                Bosnia and Herzegovina
              </option>
              <option value="BW" >
                Botswana
              </option>
              <option value="BV" >
                Bouvet Island
              </option>
              <option value="BR" >
                Brazil
              </option>
              <option value="IO" >
                Brit/Indian Ocean Terr.
              </option>
              <option value="BN" >
                Brunei Darussalam
              </option>
              <option value="BG" >
                Bulgaria
              </option>
              <option value="BF" >
                Burkina Faso
              </option>
              <option value="BI" >
                Burundi
              </option>
              <option value="KH" >
                Cambodia
              </option>
              <option value="CM" >
                Cameroon
              </option>
              <option value="CA" >
                Canada
              </option>
              <option value="CV" >
                Cape Verde
              </option>
              <option value="KY" >
                Cayman Islands
              </option>
              <option value="CF" >
                Central African Republic
              </option>
              <option value="TD" >
                Chad
              </option>
              <option value="CL" >
                Chile
              </option>
              <option value="CN" >
                China
              </option>
              <option value="CX" >
                Christmas Island
              </option>
              <option value="CC" >
                Cocos (Keeling) Islands
              </option>
              <option value="CO" >
                Colombia
              </option>
              <option value="KM" >
                Comoros
              </option>
              <option value="CG" >
                Congo
              </option>
              <option value="CD" >
                Congo, The Dem. Republic Of
              </option>
              <option value="CK" >
                Cook Islands
              </option>
              <option value="CR" >
                Costa Rica
              </option>
              <option value="CI" >
                Côte d'Ivoire
              </option>
              <option value="HR" >
                Croatia
              </option>
              <option value="CU" >
                Cuba
              </option>
              <option value="CY" >
                Cyprus
              </option>
              <option value="CZ" >
                Czech Republic
              </option>
              <option value="DK" >
                Denmark
              </option>
              <option value="DJ" >
                Djibouti
              </option>
              <option value="DM" >
                Dominica
              </option>
              <option value="DO" >
                Dominican Republic
              </option>
              <option value="EC" >
                Ecuador
              </option>
              <option value="EG" >
                Egypt
              </option>
              <option value="SV" >
                El Salvador
              </option>
              <option value="GQ" >
                Equatorial Guinea
              </option>
              <option value="ER" >
                Eritrea
              </option>
              <option value="EE" >
                Estonia
              </option>
              <option value="ET" >
                Ethiopia
              </option>
              <option value="FK" >
                Falkland Islands
              </option>
              <option value="FO" >
                Faroe Islands
              </option>
              <option value="FJ" >
                Fiji
              </option>
              <option value="FI" >
                Finland
              </option>
              <option value="FR" >
                France
              </option>
              <option value="GF" >
                French Guiana
              </option>
              <option value="PF" >
                French Polynesia
              </option>
              <option value="TF" >
                French Southern Terr.
              </option>
              <option value="GA" >
                Gabon
              </option>
              <option value="GM" >
                Gambia
              </option>
              <option value="GE" >
                Georgia
              </option>
              <option value="DE" >
                Germany
              </option>
              <option value="GH" >
                Ghana
              </option>
              <option value="GI" >
                Gibraltar
              </option>
              <option value="GB" >
                United Kingdom
              </option>
              <option value="GR" >
                Greece
              </option>
              <option value="GL" >
                Greenland
              </option>
              <option value="GD" >
                Grenada
              </option>
              <option value="GP" >
                Guadeloupe
              </option>
              <option value="GU" >
                Guam
              </option>
              <option value="GT" >
                Guatemala
              </option>
              <option value="GN" >
                Guinea
              </option>
              <option value="GW" >
                Guinea-Bissau
              </option>
              <option value="GY" >
                Guyana
              </option>
              <option value="HT" >
                Haiti
              </option>
              <option value="HM" >
                Heard/McDonald Isls.
              </option>
              <option value="HN" >
                Honduras
              </option>
              <option value="HK" >
                Hong Kong
              </option>
              <option value="HU" >
                Hungary
              </option>
              <option value="IS" >
                Iceland
              </option>
              <option value="IN" >
                India
              </option>
              <option value="ID" >
                Indonesia
              </option>
              <option value="IR" >
                Iran
              </option>
              <option value="IQ" >
                Iraq
              </option>
              <option value="IE" >
                Ireland
              </option>
              <option value="IL" >
                Israel
              </option>
              <option value="IT" >
                Italy
              </option>
              <option value="JM" >
                Jamaica
              </option>
              <option value="JP" >
                Japan
              </option>
              <option value="JO" >
                Jordan
              </option>
              <option value="KZ" >
                Kazakhstan
              </option>
              <option value="KE" >
                Kenya
              </option>
              <option value="KI" >
                Kiribati
              </option>
              <option value="KP" >
                Korea (North)
              </option>
              <option value="KR" >
                Korea (South)
              </option>
              <option value="KW" >
                Kuwait
              </option>
              <option value="KG" >
                Kyrgyzstan
              </option>
              <option value="LA" >
                Laos
              </option>
              <option value="LV" >
                Latvia
              </option>
              <option value="LB" >
                Lebanon
              </option>
              <option value="LS" >
                Lesotho
              </option>
              <option value="LR" >
                Liberia
              </option>
              <option value="LY" >
                Libya
              </option>
              <option value="LI" >
                Liechtenstein
              </option>
              <option value="LT" >
                Lithuania
              </option>
              <option value="LU" >
                Luxembourg
              </option>
              <option value="MO" >
                Macau
              </option>
              <option value="MK" >
                Macedonia
              </option>
              <option value="MG" >
                Madagascar
              </option>
              <option value="MW" >
                Malawi
              </option>
              <option value="MY" >
                Malaysia
              </option>
              <option value="MV" >
                Maldives
              </option>
              <option value="ML" >
                Mali
              </option>
              <option value="MT" >
                Malta
              </option>
              <option value="MH" >
                Marshall Islands
              </option>
              <option value="MQ" >
                Martinique
              </option>
              <option value="MR" >
                Mauritania
              </option>
              <option value="MU" >
                Mauritius
              </option>
              <option value="YT" >
                Mayotte
              </option>
              <option value="MX" >
                Mexico
              </option>
              <option value="FM" >
                Micronesia
              </option>
              <option value="MD" >
                Moldova
              </option>
              <option value="MC" >
                Monaco
              </option>
              <option value="MN" >
                Mongolia
              </option>
              <option value="MS" >
                Montserrat
              </option>
              <option value="MA" >
                Morocco
              </option>
              <option value="MZ" >
                Mozambique
              </option>
              <option value="MM" >
                Myanmar
              </option>
              <option value="MP" >
                N. Mariana Isls.
              </option>
              <option value="NA" >
                Namibia
              </option>
              <option value="NR" >
                Nauru
              </option>
              <option value="NP" >
                Nepal
              </option>
              <option value="NL" >
                Netherlands
              </option>
              <option value="AN" >
                Netherlands Antilles
              </option>
              <option value="NC" >
                New Caledonia
              </option>
              <option value="NZ" >
                New Zealand
              </option>
              <option value="NI" >
                Nicaragua
              </option>
              <option value="NE" >
                Niger
              </option>
              <option value="NG" >
                Nigeria
              </option>
              <option value="NU" >
                Niue
              </option>
              <option value="NF" >
                Norfolk Island
              </option>
              <option value="NO" >
                Norway
              </option>
              <option value="OM" >
                Oman
              </option>
              <option value="PK" >
                Pakistan
              </option>
              <option value="PW" >
                Palau
              </option>
              <option value="PS" >
                Palestinian Territory, Occupied
              </option>
              <option value="PA" >
                Panama
              </option>
              <option value="PG" >
                Papua New Guinea
              </option>
              <option value="PY" >
                Paraguay
              </option>
              <option value="PE" >
                Peru
              </option>
              <option value="PH" >
                Philippines
              </option>
              <option value="PN" >
                Pitcairn
              </option>
              <option value="PL" >
                Poland
              </option>
              <option value="PT" >
                Portugal
              </option>
              <option value="PR" >
                Puerto Rico
              </option>
              <option value="QA" >
                Qatar
              </option>
              <option value="RE" >
                Reunion
              </option>
              <option value="RO" >
                Romania
              </option>
              <option value="RU" >
                Russian Federation
              </option>
              <option value="RW" >
                Rwanda
              </option>
              <option value="KN" >
                Saint Kitts and Nevis
              </option>
              <option value="LC" >
                Saint Lucia
              </option>
              <option value="WS" >
                Samoa
              </option>
              <option value="SM" >
                San Marino
              </option>
              <option value="ST" >
                Sao Tome/Principe
              </option>
              <option value="SA" >
                Saudi Arabia
              </option>
              <option value="SN" >
                Senegal
              </option>
              <option value="CS" >
                Serbia and Montenegro
              </option>
              <option value="SC" >
                Seychelles
              </option>
              <option value="SL" >
                Sierra Leone
              </option>
              <option value="SG" >
                Singapore
              </option>
              <option value="SK" >
                Slovak Republic
              </option>
              <option value="SI" >
                Slovenia
              </option>
              <option value="SB" >
                Solomon Islands
              </option>
              <option value="SO" >
                Somalia
              </option>
              <option value="ZA" >
                South Africa
              </option>
              <option value="ES" >
                Spain
              </option>
              <option value="LK" >
                Sri Lanka
              </option>
              <option value="SH" >
                St. Helena
              </option>
              <option value="PM" >
                St. Pierre and Miquelon
              </option>
              <option value="VC" >
                St. Vincent and Grenadines
              </option>
              <option value="SD" >
                Sudan
              </option>
              <option value="SR" >
                Suriname
              </option>
              <option value="SJ" >
                Svalbard/Jan Mayen Isls.
              </option>
              <option value="SZ" >
                Swaziland
              </option>
              <option value="SE" >
                Sweden
              </option>
              <option value="CH" >
                Switzerland
              </option>
              <option value="SY" >
                Syria
              </option>
              <option value="TW" >
                Taiwan
              </option>
              <option value="TJ" >
                Tajikistan
              </option>
              <option value="TZ" >
                Tanzania
              </option>
              <option value="TH" >
                Thailand
              </option>
              <option value="TL" >
                Timor-Leste
              </option>
              <option value="TG" >
                Togo
              </option>
              <option value="TK" >
                Tokelau
              </option>
              <option value="TO" >
                Tonga
              </option>
              <option value="TT" >
                Trinidad and Tobago
              </option>
              <option value="TN" >
                Tunisia
              </option>
              <option value="TR" >
                Turkey
              </option>
              <option value="TM" >
                Turkmenistan
              </option>
              <option value="TC" >
                Turks/Caicos Isls.
              </option>
              <option value="TV" >
                Tuvalu
              </option>
              <option value="UG" >
                Uganda
              </option>
              <option value="UA" >
                Ukraine
              </option>
              <option value="AE" >
                United Arab Emirates
              </option>
              <option value="US" >
                United States
              </option>
              <option value="UM" >
                US Minor Outlying Is.
              </option>
              <option value="UY" >
                Uruguay
              </option>
              <option value="UZ" >
                Uzbekistan
              </option>
              <option value="VU" >
                Vanuatu
              </option>
              <option value="VA" >
                Vatican City
              </option>
              <option value="VE" >
                Venezuela
              </option>
              <option value="VN" >
                Viet Nam
              </option>
              <option value="VG" >
                Virgin Islands (British)
              </option>
              <option value="VI" >
                Virgin Islands (U.S.)
              </option>
              <option value="WF" >
                Wallis/Futuna Isls.
              </option>
              <option value="EH" >
                Western Sahara
              </option>
              <option value="YE" >
                Yemen
              </option>
              <option value="ZM" >
                Zambia
              </option>
              <option value="ZW" >
                Zimbabwe
              </option>
            </select>
          </p>
        </div>
      </div>
    </div>
    <div id="formElement5" class="sc-view form-design-field sc-static-layout item-padding sc-regular-size" >
      <div class="field-wrapper" >
      </div>
      <div class="individual field-wrapper" >
        <div class="_100 field-style" >
          <p class="field-p" >
            <label for="field5" class="label-position top " >
              Newsletter
            </label>
            <span class="radio-option field-size-top-large" >
              <span class="list-order oneColumn" >
                <label class="label" >
                  <input name="newsletter" type="radio" value="1" class="input"  />
                  <span class="inner" >
                    Subscribe
                  </span>
                </label>
              </span>
              <span class="list-order oneColumn" >
                <label class="label" >
                  <input name="newsletter" type="radio" value="0" class="input"  />
                  <span class="inner" >
                    Unsubscribe
                  </span>
                </label>
              </span>
            </span>
          </p>
        </div>
      </div>
    </div>
    <div id="formElement6" class="sc-view form-design-field sc-static-layout item-padding sc-regular-size" >
      <div class="field-wrapper" >
      </div>
      <div class="individual field-wrapper" >
        <div class="_100 field-style" >
          <p class="field-p" >
            <label for="field6" class="label-position top " >
              Events
            </label>
            <span class="radio-option field-size-top-large" >
              <span class="list-order oneColumn" >
                <label class="label" >
                  <input name="event" type="radio" value="1" class="input"  />
                  <span class="inner" >
                    Subscribe
                  </span>
                </label>
              </span>
              <span class="list-order oneColumn" >
                <label class="label" >
                  <input name="event" type="radio" value="0" class="input"  />
                  <span class="inner" >
                    Unsubscribe
                  </span>
                </label>
              </span>
            </span>
          </p>
        </div>
      </div>
    </div>
    <div id="formElement7" class="sc-view form-design-field sc-static-layout item-padding sc-regular-size" >
      <div class="field-wrapper" >
      </div>
      <div class="individual field-wrapper" >
        <div class="_100 field-style" >
          <p class="field-p" >
            <label for="field7" class="label-position top " >
              Volunteer
            </label>
            <span class="radio-option field-size-top-large" >
              <span class="list-order oneColumn" >
                <label class="label" >
                  <input name="volunteer" type="radio" value="1" class="input"  />
                  <span class="inner" >
                    Subscribe
                  </span>
                </label>
              </span>
              <span class="list-order oneColumn" >
                <label class="label" >
                  <input name="volunteer" type="radio" value="0" class="input"  />
                  <span class="inner" >
                    Unsubscribe
                  </span>
                </label>
              </span>
            </span>
          </p>
        </div>
      </div>
    </div>
    <div id="formElement8" class="sc-view form-design-field sc-static-layout item-padding sc-regular-size" >
      <div class="field-wrapper" >
      </div>
      <div class="individual field-wrapper" >
        <div class="_100 field-style" >
          <p class="field-p" >
            <label for="field8" class="label-position top " >
              Child Sponsorship
            </label>
            <span class="radio-option field-size-top-large" >
              <span class="list-order oneColumn" >
                <label class="label" >
                  <input name="child_sponsorship" type="radio" value="1" class="input"  />
                  <span class="inner" >
                    Subscribe
                  </span>
                </label>
              </span>
              <span class="list-order oneColumn" >
                <label class="label" >
                  <input name="child_sponsorship" type="radio" value="0" class="input"  />
                  <span class="inner" >
                    Unsubscribe
                  </span>
                </label>
              </span>
            </span>
          </p>
        </div>
      </div>
    </div>
    <div id="formElement9" class="sc-view form-design-field sc-static-layout item-padding sc-regular-size" >
      <div class="field-wrapper" >
      </div>
      <div class="individual field-wrapper" >
        <div class="_100 field-style" >
          <p class="field-p" >
            <label for="field9" class="label-position top " >
              Exclusive Updates &amp; Promotions
            </label>
            <span class="radio-option field-size-top-large" >
              <span class="list-order oneColumn" >
                <label class="label" >
                  <input name="exclusive" type="radio" value="1" class="input"  />
                  <span class="inner" >
                    Subscribe
                  </span>
                </label>
              </span>
              <span class="list-order oneColumn" >
                <label class="label" >
                  <input name="exclusive" type="radio" value="0" class="input"  />
                  <span class="inner" >
                    Unsubscribe
                  </span>
                </label>
              </span>
            </span>
          </p>
        </div>
      </div>
    </div>
    <div id="formElement10" class="sc-view form-design-field sc-static-layout item-padding sc-regular-size" >
      <div class="field-wrapper" >
      </div>
      <div class="individual field-wrapper" >
        <div class="_100 field-style" >
          <p class="field-p" >
            <label for="field10" class="label-position top " >
              All Communications
            </label>
            <span class="radio-option field-size-top-large" >
              <span class="list-order oneColumn" >
                <label class="label" >
                  <input name="all_communications" type="radio" value="1" class="input"  />
                  <span class="inner" >
                    Subscribe
                  </span>
                </label>
              </span>
              <span class="list-order oneColumn" >
                <label class="label" >
                  <input name="all_communications" type="radio" value="0" class="input"  />
                  <span class="inner" >
                    Unsubscribe
                  </span>
                </label>
              </span>
            </span>
          </p>
        </div>
      </div>
    </div>
    <div id="formElement11" class="sc-view form-design-field sc-static-layout  sc-regular-size" >
      <div class="field-wrapper" >
      </div>
      <div class="individual field-wrapper" >
        <div class="_100 field-style" >
          <p class="field-p" >
            <input id="field11" type="hidden" name="hiddenField" value="<eloqua type='emailfield' syntax='Country' />
"  />
          </p>
        </div>
      </div>
    </div>
    <div id="formElement12" class="sc-view form-design-field sc-static-layout item-padding sc-regular-size" >
      <div class="field-wrapper" >
      </div>
      <div class="individual field-wrapper" >
        <div class="_100 field-style" >
          <p class="field-p" >
            <input type="submit" value="Submit" class="submit-button" style="font-size: 100%; height: 24px; width: 100px"  />
          </p>
        </div>
      </div>
    </div>
  </form>
  <script src="https://img04.en25.com/i/livevalidation_standalone.compressed.js" type="text/javascript" >
  </script>
  <style type="text/css" media="screen" >
    .LV_validation_message{
      font-weight:bold;
      margin: 0 0 0 5px;
    }
    .LV_valid{
      color:#00CC00;
      display:none;
    }
    .LV_invalid{
      color:#CC0000;
      font-size:10px;
    }
    .LV_valid_field, input.LV_valid_field:hover, input.LV_valid_field:active, textarea.LV_valid_field:hover, textarea.LV_valid_field:active {
      outline: 1px solid #00CC00;
    }
    .LV_invalid_field, input.LV_invalid_field:hover, input.LV_invalid_field:active, textarea.LV_invalid_field:hover, textarea.LV_invalid_field:active {
      outline: 1px solid #CC0000;
    }
  </style>
  <script type="text/javascript" >
    var dom0 = document.querySelector('#form30 #field0');
    var field0 = new LiveValidation(dom0, {
      validMessage: "", onlyOnBlur: false, wait: 300}
                                   );
    var dom1 = document.querySelector('#form30 #field1');
    var field1 = new LiveValidation(dom1, {
      validMessage: "", onlyOnBlur: false, wait: 300}
                                   );
    var dom2 = document.querySelector('#form30 #field2');
    var field2 = new LiveValidation(dom2, {
      validMessage: "", onlyOnBlur: false, wait: 300}
                                   );
    field2.add(Validate.Format, {
      pattern: /^(?:[0][0-9]|[1][0-2])\/(?:[0][1-9]|[1-2][0-9]|[3][0-1])\/(?:\d{4}|\d{2})$/, failureMessage: "Value must be a valid date (MM/DD/YY or MM/DD/YYYY)"}
              );
    var dom3 = document.querySelector('#form30 #field3');
    var field3 = new LiveValidation(dom3, {
      validMessage: "", onlyOnBlur: false, wait: 300}
                                   );
    var dom4 = document.querySelector('#form30 #field4');
    var field4 = new LiveValidation(dom4, {
      validMessage: "", onlyOnBlur: false, wait: 300}
                                   );
    function resetSubmitButton(e){
      var submitButtons = e.target.form.getElementsByClassName('submit-button');
      for(var i=0;i<submitButtons.length;i++){
        submitButtons[i].disabled = false;
      }
    }
    function addChangeHandler(elements){
      for(var i=0; i<elements.length; i++){
        elements[i].addEventListener('change', resetSubmitButton);
      }
    }
    var form = document.getElementById('form30');
    addChangeHandler(form.getElementsByTagName('input'));
    addChangeHandler(form.getElementsByTagName('select'));
    addChangeHandler(form.getElementsByTagName('textarea'));
  </script>
</div>
