body{
  font-family: Helvetica, Arial, sans-serif !important;
  font-weight: lighter !important;
  color: #4d4d4d !important;
}

h5 {
  color:#138f53;
  padding-top: 2rem;
}

h2 {
  color:#138f53;
}

input[type=radio].css-radio + label.css-radio-label {
  padding-left:20px;
  height:12px;
  display:inline-block;
  line-height:12px;
  background-repeat:no-repeat;
  background-position: 0 0;
  font-size:1.6rem;
  vertical-align:middle;
  cursor:pointer;
  margin-right: 5rem;
  margin-bottom: 0 !important;
 }
 input[type=text], input[type=submit], select{
   width:80% !important;
 }
 .radio-column{
   margin: 0;
   display: inline-block;
 }

.logo{
  padding: 4rem;
}

.LV_invalid{
  display: block;
  position: absolute;
}
.error{
  font-size: 10px;
  color: #CC0000;
  padding-top: 5px;
  position: absolute;
}

/* media queries */
  @media (max-width: 400px) {
    h1,h2,h3,h4,h5,h6{
      text-align: center;
    }
    .radio-column {
      display: block;
      margin-left: 90px;
      display:table;
      }
    .logo{
      padding: 20px 0 10px 0;
    }
    input[type=text], input[type=submit],select{
      width:100% !important;
    }
  }
